<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean class="in.sp.beans.Address" id="addrId">-->
    <bean class="in.sp.beans.Address" autowire-candidate="false">
        <constructor-arg value="12"/>
        <constructor-arg value="Gazipur"/>
        <constructor-arg value="1234"/>
    </bean>
    <bean class="in.sp.beans.Address">
        <constructor-arg value="15"/>
        <constructor-arg value="Dhaka"/>
        <constructor-arg value="1434"/>
    </bean>


    <bean class="in.sp.beans.Student" id="stdId" autowire="constructor">
        <constructor-arg value="13" index="0"/>
        <constructor-arg value="Anik" index="1"/>
<!--        <property name="address" ref="addrId"/>-->
    </bean>

</beans>