<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean class="in.sp.beans.Address" id="addrId">-->
    <bean class="in.sp.beans.Address" autowire-candidate="false">
        <property name="houseno" value="12"/>
        <property name="city" value="Gazipur"/>
        <property name="pincode" value="1234"/>
    </bean>
    <bean class="in.sp.beans.Address">
        <property name="houseno" value="15"/>
        <property name="city" value="Dhaka"/>
        <property name="pincode" value="1434"/>
    </bean>


    <bean class="in.sp.beans.Student" id="stdId" autowire="byType">
        <property name="id" value="13"/>
        <property name="name" value="Anik"/>
<!--        <property name="address" ref="addrId"/>-->
    </bean>

</beans>