<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="in.sp.beans.Address" id="addrId">
        <constructor-arg value="222"/>
        <constructor-arg value="Ashulia"/>
        <constructor-arg value="1432"/>
    </bean>

    <bean class="in.sp.beans.Student" id="stdId">
        <constructor-arg value="121"/>
        <constructor-arg value="Anik"/>
        <constructor-arg ref="addrId"/>
    </bean>
</beans>